<!DOCTYPE html>
<html>
<head>
    <title>Список пользователей</title>
    <meta charset="utf-8" />
</head>
<body>
<div><a href="/login">LOGIN</a></div>
<div><a href="/register">REGISTER</a></div>
</body>
<html>
